img {
  width: 100px;
  height: 100px;
}

.covid1 {
  animation-name: covid1;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.covid2 {
  animation-name: covid2;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.covid3 {
  animation-name: covid3;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  cursor: pointer;
  transition: 1s ease-in-out;
  border-radius: 50%;
}

@keyframes covid1 {
 0% {
    transform: translateY(0px);
  }
 50% {
   transform: translateY(300px);
  }
  100% {
   transform: translateY(0px);
  }
}

@keyframes covid2 {
 0% {
    transform: translateY(0px) rotate(0deg);
  }
 50% {
   transform: translateY(200px) rotate(100deg);
  }
  100% {
   transform: translateY(0px) rotate(0deg);
  }
}



.covid3:hover {
  background-color: white;
}

@keyframes covid3 {
 0% {
    transform: translatex(0px) rotate(0deg) scale(1);
  }
 50% {
   transform: translatex(200px) rotate(200deg) scale(5);
  }
  100% {
   transform: translatex(0px) rotate(0deg) scale(1);
  }
}
