/* * {
  border: 1px solid black;
} */

body,html {
  font-family: 'Trade Winds', '微軟正黑體';
}

body {
  margin: 0px;
}

.header-title {
  float: left;
  font-size: 20px;
  letter-spacing: 4px;
  color: #7f7f7f;
  margin: 20px 0px 20px 45px;
  font-weight: 1000;
}

.title-img-2 {
  width:36px;
  height:36px;
  padding-right:45px;
  margin:20px 0px 20px 0px;
  float: right;
}

.title-img-1 {
  width:36px;
  height:36px;
  padding-right:76px;
  margin:20px 0px 20px 0px;
  float: right;
}

.first {
  clear: both;
  background-color: #f8e9b6;
}

.first-img-1 {
  width: 22px;
  height: 38px;
  display: block;
  margin: auto;
  padding-top: 47px;
}

.first-text {
  font-size:  14px;
  line-height: 2.14;
  letter-spacing: 2.8px;
  text-align: center;
  color: #292929;
}

.first-img-2 {
  width: 321px;
  height: 290px;
  display:block;
  margin:auto;
  padding-bottom: 45px;
}

.second {
  clear: both;
  background-color: #c2e7fa;
}

.forth {
  clear: both;
  background-color: #c2e7fa;
}

.title {
  font-size: 30px;
  line-height: 1.33;
  letter-spacing: 4.8px;
  font-weight: bold;
  color: var(--greyish-brown);
  padding: 72px 0px 0px 47px;
  font-variant: normal;
  margin: 0px;
}

.four-img, .third-img, .second-img {
  padding: 13px 0px 30px 54px;
}

.intro {
  padding: 72px 0px 0px 47px;
  margin: 0px;
}

.second-text, .third-text, .four-text {
  float: right;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 2.8px;
  color: #292929;
  padding: 0px 45px 0px 0px;
}

.second-link {
  display: block;
  text-align: center;
  position: right;
  margin-left: 720px;
  transform:translateY(-100%);
}

.third {
  clear: both;
  background-color: #faf1b6;
}

.third-link {
  display: block;
  text-align: center;
  position: right;
  margin-left: 710px;
  padding-bottom: 20px;
}

.people {
  clear: both;
  background-color: white;
}

.intro-big {
  font-size: 48px;
  letter-spacing: 5px;
  text-align: center;
  color: #ff9383;
  margin: 0px;
  padding-top: 72px;
}

.intro-small {
  font-size: 21px;
  line-height: 1.19;
  letter-spacing: 4.2px;
  text-align: center;
  color: #292929;
  margin: 16px 0px 72px 0px;
}

footer{
  padding: 57px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 3.2px;
  color: #7f7f7f;
  background-color: #ffd6d6;
}

#grace, #janice, #grace-intro, #janice-intro {
  display: inline-block;
  vertical-align: top;
}

#grace-img {
  padding-left: 64px;
  padding-bottom: 94px;
}

#janice-img {
  padding-left: 36px;
}

#name {
  font-size: 21px;
  letter-spacing: 2px;
  margin: 0px 0px 12px 18px ;
}

#name-intro {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 1.52px;
  margin: 0px 18px;
}

#final-img1, #grace, #final-img2, #janice{
  display: inline-block;
}

@media screen and (max-width:767px){

  .header-title{
    float: left;
    font-size: 16px;
    margin: 10px 0px 10px 10px;
  }

  .title-img-2 {
    width: 25px;
    height: 25px;
    margin:10px 0px 10px 0px;
    padding: 0px 20px;
  }

  .title-img-1 {
    width: 25px;
    height: 25px;
    margin:10px 0px 10px 0px;
    padding: 0px;
  }
  .first-img-1 {
    padding-top: 20px;
  }
  div.title {
    padding: 20px;
    font-size: 20px;
  }
  p.intro {
    padding: 10px;
    text-align: center;
  }

  .first, .second, .third, .forth {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
  }

  .link {
    text-align: center;
    vertical-align: middle;
  }

  .second-img, .third-img, .four-img, .second-link, .third-link {
    padding: 0px;
    width: 300px;
  }

  .second-link, .third-link {
    padding: 0px;
    width: 100px;
    margin: 0px;
  }

  /* .second-link {
    width: 100px;
    margin: 0px;
    padding: 0px 135px;
    transform:translateY(-10%);
  }

  .third-link  {
    width: 100px;
    margin:10px 0px 10px 0px;
    padding: 0px 135px;
  } */

  .second-text, .third-text, .four-text {
    float: inherit;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    font-size: 12px;
  }

  #grace, #janice {
    text-align: center;
    padding-bottom: 20px;
  }

  #grace-img, #janice-img {
    padding: 0px;
  }

  #name {
    margin: 10px 0px;
  }

  .intro-big {
    font-size: 40px;
    padding-top: 20px;
  }

  .intro-small {
    font-size: 18px;
    margin: 16px 0px;
  }

  footer {
     padding: 20px;
     font-size: 8px;
  }

}
