/* @keyframes rotate{
  0% {
    width: 100px;
  }
  100% {
    width: 200PX;
  }

} */

img {
  width: 100px;
  height: 150px;
}

.p1 {
  animation-name: p1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.p2 {
  animation-name: p2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.p3 {
  animation-name: p3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  border-radius: 50%;
  cursor: pointer;
  transition: .5s ease-in-out;
}
.p3:hover {
  background: black;
}

@keyframes p1 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100px);
  }
}

@keyframes p2 {
  0% {
    transform: translateY(0px);
  }
  50% {
      transform: translateY(500px)scale(3);
  }
  100% {
      transform: translateY(0px)rotate(0deg);
  }
}

@keyframes p3 {
  0% {
    transform: translateX(60px);
    transform: translateY(100px);
  }
  50% {
      transform: translateX(300px)scale(5);
  }
  100% {
      transform: translateX(0px)rotate(180deg);
  }
}
